<!DOCTYPE html>
<html lang="en" class="h-screen" style="color-scheme: dark; text-align: center; font-family: Poppins, sans;">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Example Template</title>
  </head>
  <body>
    <!-- Here we have a templated value of .Name, passed in from Go -->
    <h1>Hello {{ .Name }}</h1>
    <form action="/shorten" method="post">
        <input type="text" id="url" name="url" placeholder="Enter a URL">
        <input type="submit" value="Shorten">
    </form>
  </body>
</html>